@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-color: white;
}

h1 {
    font-family: "Orbitron", Arial; /* Arial will be used in case Orbitron fails to load. */
    background-color: rgb(153, 204, 255);
    color: #333;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

img {
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(153, 204, 255);
    margin: 0;
    width: 60px;
    height: auto;
    padding-right: 2px;
}

.header {
    background-color: rgb(153, 204, 255);
    padding: 5px
}