@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); 
 
body { 
    background-color: white; 
} 
 
h1 { 
    font-family: "Orbitron", Arial; 
    background-color: rgb(153, 204, 255); 
    color: #333; 
    padding: 10px 0 10px 0; 
    vertical-align: middle; 
    display: inline-block; 
    margin: 0; 
} 
 
.logo { 
    display: inline-block; 
    vertical-align: middle; 
    background-color: rgb(153, 204, 255); 
    margin: 0; 
    width: 60px; 
    height: auto; 
    padding-right: 2px; 
} 
 
.header { 
    display: flex;
    background-color: rgb(153, 204, 255); 
    padding: 5px 
}

.account-access {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-access-link {
    font-family: "Tahoma";
    text-align: right;
    width: 500px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

.search {
    margin-left: 100px;
    width: 250px;
    margin-top: 20px;
}

.search-button {
    font-family: "Orbitron", Arial;
    font-weight: bold;
}