@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap'); 
 
body { 
    background-color: white; 
} 
 
h1 { 
    font-family: "Orbitron", Arial; 
    background-color: rgb(153, 204, 255); 
    color: #333; 
    padding: 10px 0 10px 0; 
    vertical-align: middle; 
    display: inline-block; 
    margin: 0; 
}

p {
    font-family: "Tahoma";
}
 
.logo { 
    display: inline-block; 
    vertical-align: middle; 
    background-color: rgb(153, 204, 255); 
    margin: 0; 
    width: 50px; 
    height: auto; 
    padding-right: 2px; 
} 
 
.header { 
    display: flex;
    background-color: rgb(153, 204, 255); 
    padding: 5px 10px 5px 10px;
}

.header-redirect {
    text-decoration: none;
}

.account-access {
    font-family: "Tahoma";
    font-size: 18px;
    background-color: white;
    padding: 20px;
    width: 30%;
    margin: 0 auto auto 20px;
}

.account-access-link {
    font-family: "Tahoma";
    text-align: right;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 3px solid black;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    background-color: aliceblue;
    text-decoration: none;
    color: #000000;
}

.account-access-inputs {
    margin-top: 5px;
    padding: 5px;
}

.account-access-buttons {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    font-family: "Tahoma";
}

label {
    display: block;
    margin-top: 10px;
}

.search {
    padding: 5px;
    width: 250px;
    margin-top: 15px;
}

.search-button {
    font-family: "Orbitron", Arial;
    font-weight: bold;
    padding: 5px;
}

.offline {
    font-family: "Tahoma";
    width: 20%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

.game-collection {
    width: 85%;
    display: inline-block;
}

.game-title {
    font-family: "Tahoma";
}

.game-cover {
    width: 15%;
}