<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGReviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js")
                    .then(registration => {
                        console.log("ServiceWorker registration successful with scope: ", registration.scope);
                    })
                    .catch(err => {
                        console.error("ServiceWorker registration failed: ", err);
                    });
            });
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="/static/icons/logo-128x128.png" class="logo">
        <h1>GGReviews</h1>
        
        <form method="post">
            <input type="text" class="search">
                <button type="submit" class="search-button">Search</button>
            </input>
        </form>
        {% block account_detail %}
        {% endblock %}
    </div>
</body>
</html>