{% extends "base.html" %}

{% block login_status %}
    <div class="header">
        {% if not session.user_id %}
        <a href="{{ url_for('login') }}" class="account-access-link">
            Login
        </a>
        {% else %}
        <p>Logged into {{ session.username }}</p>
        <a href="{{ url_for('logout') }}" class="account-access-link">
            Logout
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="in-game-title">
        <img src="{{ game.game_cover_path }}" alt="{{ game.game_title }} Cover Image" class="game-cover">
        <h2>{{ game.game_title }}</h2>
        <p>{{ game.game_desc }}</p>
    </div>

    {% if session.user_id %}
        <h3>Add a review for this game!</h3>

        <form action="{{ url_for('add_entry') }}" method="post" enctype="multipart/form-data"> 
            <input type="hidden" name="game_id" value="{{ game.id }}">
            <div> 
                <label for="title">Title:</label> 
                <input type="text" id="title" name="title" required> 
            </div> 
        
            <div> 
                <label for="description">Description:</label> 
                <textarea id="description" name="description" required></textarea> 
            </div> 
            
            <div>
            <label for="rating">Rating:</label>
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5">
                    <label for="star5" title="5 stars">★</label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4" title="4 stars">★</label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3" title="3 stars">★</label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2" title="2 stars">★</label>
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1" title="1 star">★</label>
                </div>
            </div>

            <button type="submit">Add Review</button> 
        </form> 

    {% else %}
        <p>You are not logged in. Only logged in users can post reviews.<br></p>
        <p>Click <a href="{{ url_for('login') }}">here</a> to log in.</p>
    {% endif %}

    <h2>Reviews for this game</h2>
    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <span class="review_header">
                Review posted by {{ post.username }}<br>
                Created at: {{ post.created_at }}<br>
                Rating: {{ post.rating }}/5
            </span>
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}
{% endblock %}