{% extends "base.html" %}

{% block login_status %}
    <div class="header">
        {% if not session.user_id %}
        <a href="{{ url_for('login') }}" class="account-access-link">
            Login
        </a>
        {% else %}
        <p>Logged into {{ session.username }}</p>
        <a href="{{ url_for('logout') }}" class="account-access-link">
            Logout
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="in-game-title">
        <img src="{{ game.game_cover_path }}" alt="{{ game.game_title }} Cover Image" class="game-cover">
        <h2>{{ game.game_title }}</h2>
        <p>{{ game.game_desc }}</p>
    </div>

    {% if session.user_id %}
        <h3>Add a review for this game!</h3>

    {% else %}
        <p>You are not logged in. Only logged in users can post reviews.<br></p>
        <p>Click <a href="{{ url_for('login') }}">here</a> to log in.</p>
    {% endif %}

    <h3>Reviews for this game</h3>
{% endblock %}