{% extends "base.html" %}

{% block login_status %}
    <div class="header">
        {% if not session.user_id %}
        <a href="{{ url_for('login') }}" class="account-access-link">
            Login
        </a>
        {% else %}
        <p>Logged in to {{ session.username }}</p>
        <a href="{{ url_for('logout') }}" class="account-access-link">
            Logout
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="game-collection">
        {% for game in games %}
            <img src="{{ game.game_cover_image }}" alt="{{ game.game_title }} Cover Image">
            <div class="game-title">
                {{ game.game_title }}
            </div>
        {% endfor %}
    </div>
{% endblock %}