{% extends "base.html" %}

{% block login_status %}

    <div class="header">
        <form method="post">
            <input type="text" name="game-search" class="search">
                <button type="submit" class="search-button">Search</button>
            </input>
        </form>

        {% if not session.user_id %}
        <a href="{{ url_for('login') }}" class="account-access-link">
            Login
        </a>
        {% else %}
        <p>Logged into {{ session.username }}</p>
        <a href="{{ url_for('logout') }}" class="account-access-link">
            Logout
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="game-collection">
        {% for game in games %}
            <a href="{{ url_for('game', id=game.id) }}" class="game-of-games">
                <img src="{{ game.game_cover_path }}" alt="{{ game.game_title }} Cover Image" class="game-cover">
                <div class="game-title">
                    {{ game.game_title }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}